* {
    margin: 0;
    outline: none;
}

:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%);
}

body {
    background-color: var(--veryLightGray);
    min-height: 100vh;
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: .5rem;
    overflow: hidden;
    margin: 2rem;
} 

.box {
    padding: 2rem;
}
  
.box1 {
    background: var(--brightOrange);
}

.box2 {
    background: var(--darkCyan);
}

.box3 {
    background: var(--veryDarkCyan);
}

.icon {
    padding: .2rem;
}

h2, p {
    padding: 1rem 0;
    color: var(--white);
}

h2 {
    text-transform: capitalize;
    font-family: Big Shoulders Display;
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}


.btn {
    outline: none;
    border: none;
    background: var(--veryLightGray);
    display: inline-block;
    margin-top: 55px;
    position: relative;
    bottom: 0;
    left: 1rem;
    border-radius: 5rem;
    height: 2.5rem;
    width: 8rem;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
}

.btn1 {
    color: var(--brightOrange);
}

.btn2 {
    color: var(--darkCyan);
}

.btn3 {
    color: var(--veryDarkCyan);
}

.btn:hover {
    border: solid var(--veryLightGray) 2px;
    background-color: transparent;
    color: var(--veryLightGray);
  }

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 375px) {
    .wrapper {
        grid-template-columns: 1fr;
        margin: 4rem 1.5rem;
    }
    .box{
        padding: 2.5rem;
    }
}